<html>
    <head>
        <title>Index Page</title>
        <link href='/assets/styles.css' type='text/css' rel='stylesheet' />
    </head>

    <body>
        <h1>Index</h1>
        <form method='POST' action='/person'>
            First name :<input type='text' id='firstname' name='firstname' /><br />
            Last name: <input type='text' id='lastname' name='lastname' /><br />
            <input type='submit' value='Submit' />
        </form>
    </body>
</html>
