<html>
    <head>
        <title><%= NAME %>'s the best</title>
        <link href='/assets/styles.css' type='text/css' rel='stylesheet' />
    </head>
    <body>
        <h1><%= NAME %> is the GOAT</h1>
    </body>
</html>
